* {
    margin: 0%;
    padding: 0;
}

@font-face{
    font-family: 'Letra';
    src: url(/Fuente/optimusprinceps/OptimusPrinceps.ttf);
}

html{
    background-color: aliceblue;
}

/*Header*/
header{
    background-color: black;
    
}

.titulo{
    font-size: 38px;
    color: yellow;
    display: flex;
    justify-content: center;
}

.barra_tag{
 display: flex;
 justify-content: space-around;
}

.tag{
    font-size: 20px;
    color: yellow;
    list-style: none;
}
.boton_tag{
    background-color: darkgoldenrod;
    width: 200px;
    border-radius: 30%;
    margin-bottom: 5px;
}

/*Main*/
.subtitulo{
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
.contener{
    border: solid black 5px;
    border-radius: 20%;
    background-color: darkgoldenrod;
    width: 1200px;
    position: relative;
    left: 45px;
    margin-top: 15px;
}
.contenedor{  
    display: flex;
    justify-content: space-evenly;
}
.cont_descripcion{
    display: flex;
    justify-content: end;
}

.boton{
    width: 70px;
    height: 40px;
    border: solid black 2px;
    border-radius: 100%;
    font-size: 15px;
    background-color: darkgoldenrod;
}
.boton:hover{
    color: green;
    background-color: greenyellow;
}
.producto{
    font-size: 22px;
    font-family: 'Letra';
}

.producto:hover{
    color: yellow;
}

.img{
    width: 12rem;
    padding: 0;
    margin: 0;
}

/*Carrito*/

.contenerC{
    border: solid black 5px;
    border-radius: 20%;
    background-color: skyblue;
    width: 1000px;
    height: 200px;
    position: relative;
    left: 150px;
    margin-top: 15px;
}
.contenedorC{  
    display: flex;
    justify-content: space-evenly;
}
.contenedorCa{  
    margin: 2px;
}
.cont_descripcionC{
    position: relative;
    left: 10px;
}

.productoC{
    font-size: 24px;
    font-family: 'Letra';
}

.total{
    display: flex;
    justify-content: center;
}
.total:hover{
    color: green;
    font-size: 36px;
}

/*BotonJS*/

.mi-boton{
    font-family: 'Letra';
}


/*Footer*/
.fondito{
    background-color: black;
    margin-top: 5px;
}
.pie_de_pagina{
    color: yellow;
    font-size: 18px;
    margin: 5px;
}
.pie_de_pagina:hover{
    color: darkgoldenrod;
}
.Div_final{
    display: flex;
    justify-content: space-between;
}
.Div_final_2{
    display: flex;
    justify-content: space-around;
}
